.videoWrapper {
  opacity: 0.2; /* Initial opacity for non-active videos */
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  pointer-events: none;
}

.videoWrapper.active {
  opacity: 1; /* Full opacity for the active video */
  pointer-events: auto;
}
