/* VideoSlider.module.css */
.videoSliderContainer {
  position: relative;
}

@media (max-width: 920px) {
  .instagramFrame {
    position: absolute;
    top: -8%;
    left: 28%;
    transform: translate(-0%, -0%);
    width: 44%;
    height: auto;
    object-fit: cover;
    z-index: -1; /* Ensure the frame is behind the videos */
  }
}
@media (min-width: 920px) {
  .instagramFrame {
    position: absolute;
    top: -8%;
    left: 28%;
    transform: translate(70%, -0%);
    width: 50%;
    height: 50%;
    object-fit: cover;
    z-index: -1; /* Ensure the frame is behind the videos */
  }
}

.swiper-container {
  position: relative;
  z-index: 1; /* Ensure the videos are above the frame */
}
.videoWrapper {
  opacity: 0.2; /* Initial opacity for non-active videos */
  transition: opacity 0.3s ease-in-out;
}

.videoWrapper.active {
  opacity: 1; /* Full opacity for the active video */
}
